.keyboard-virtual__screen {
  margin: 0px 0px 40px 0px;

  .screen-keyboard-virtual__textarea {
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    font-family: "robotoregular";
  }

  @media (max-width: 475px) {
    .screen-keyboard-virtual__textarea {
      min-height: 150px;
      max-height: 150px;
    }
  }

  .screen-keyboard-virtual__entry-field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 475px) {
    .screen-keyboard-virtual__entry-field {
      flex-direction: column;
      align-items: start;
    }
  }

  .entry-field__display {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    margin: 0px 20px 0px 0px;

    .display-entry-field__icon {
      min-width: 20px;
      min-height: 20px;
      margin: 0px 10px 0px 0px;
    }
    .display-entry-field__icon--microphone {
      background-image: url(../../../../../../images/microphoneBlack.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 100% 100%;
    }
    .display-entry-field__input {
      flex: 1 0 auto;
      min-height: 35px;
      font-size: 20px;
      border: 1px solid #cccccc;
      border-radius: 10px;
      font-size: 18px;
      padding: 5px;
      font-family: "robotoregular";
      background-color: white;
    }

    @media (max-width: 475px) {
      .display-entry-field__input {
        flex: 1 0 auto;
      }
    }
  }

  @media (max-width: 475px) {
    .entry-field__display {
      flex: 0 1 auto;
      min-width: 100%;
      margin: 0px 0px 10px 0px;
    }
  }

  .entry-field__buttons {
    display: flex;
    flex: 0 1 auto;

    .buttons-entry-field__button {
      min-width: 80px;
      min-height: 35px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .confirm-btn__icon {
        display: block;
        min-width: 30px;
        min-height: 30px;
      }

      .confirm-btn__icon--checkmark {
        background-image: url(../../../../../../images/checkmark.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100% 100%;
      }

      .cancel-btn__icon {
        display: block;
        min-width: 30px;
        min-height: 30px;
      }

      .cancel-btn__icon--cancel {
        background-image: url(../../../../../../images/cancel.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 100% 100%;
      }
    }

    @media (max-width: 475px) {
      .buttons-entry-field__button {
        min-width: calc(50% - 5px);
      }
    }

    .buttons-entry-field__button:not(:last-child) {
      margin: 0px 10px 0px 0px;
    }

    .entry-field__confirm-btn {
      background-color: #9dcc64;
      opacity: 0.6;
    }

    .entry-field__cancel-btn {
      background-color: #df7d4c;
      opacity: 0.6;
    }
  }

  @media (max-width: 475px) {
    .entry-field__buttons {
      min-width: 100%;
    }
  }
}
