.screen-keyboard-virtual__textarea {
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  padding: 20px;
  font-family: "robotoregular";
}
